{% extends 'home/base.html' %}
{% block item %}
<br /><br /><br />
Demo of Asorti in an e-commerce website:<br /><br />
<ol>
<li>
<a href="http://www.asortistyle.com/data/catalog/?&store=Topshop">Topshop store</a>&nbsp;[<i>Note: some item descriptions and prices are unavailable due to inventory turnover</i>]
</li>
<li>
<a href="http://www.asortistyle.com/data/catalog/?&store=Abercrombie">Abercrombie store</a>
</li>
<li>
Our favorites: <a href="http://www.asortistyle.com/recommender/getrecommendation/257">I</a>, <a href="http://www.asortistyle.com/recommender/getrecommendation/1617">II</a>, <a href="http://www.asortistyle.com/recommender/getrecommendation/2408">III</a>, <a href="http://www.asortistyle.com/recommender/getrecommendation/3175">IV</a>.
</li>
</ol>
<br/>

<a name="mobile">Mobile app screencast</a>: <br /><br />
<iframe width="420" height="315" src="http://www.youtube.com/embed/NcFWXho_TCo" frameborder="0" allowfullscreen></iframe>
{% endblock %}
