
<!DOCTYPE html>

<html lang="en">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.1/jquery-ui.min.js"></script>
  <script type = "text/javascript">
      function form_submit() {
          $("#signup-form").submit();            
      }
  </script>

  <head>
    <meta charset="utf-8">


    <title>Asorti</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Asorti">
    

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="../assets/js/html5shiv.js"></script>
    <![endif]-->


    <!-- Le styles -->
    <link href="{{STATIC_URL}}css/bootstrap-responsive.css" rel="stylesheet">
    <link href="{{STATIC_URL}}css/bootstrap.css" rel="stylesheet">
    <link href="{{STATIC_URL}}css/custom.css" rel="stylesheet">


    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
      .thanks {
        color: #EE4289;
      }
    </style>
    
  </head>

  <body>

    <div id="wrap">


    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="#">Asorti</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="active"><a href="#">HOME</a></li>
              <li><a href="http://blog.asortistyle.com">BLOG</a></li>
              <li><a href="mailto:asorti@mit.edu">CONTACT</a></li>
            </ul>
          </div><!--/.nav-collapse -->



        </div>
      </div>
    </div>

    <div class="body-container">
      <div class="row-fluid">
      <div class="span3"></div>
        <div class="span2">
          <img class="homepage-img" src="{{STATIC_URL}}landing-page/langind-page1.png" alt="">
        </div>
        <div class="span2">
          <img class="homepage-img" src="{{STATIC_URL}}landing-page/langind-page2.png" alt="">
       </div>
        <div class="span2">
          <img class="homepage-img" src="{{STATIC_URL}}landing-page/langind-page3.png" alt="">
        </div>
      <div class="span3"></div>
      </div>


      <div class="row-fluid">
        <div class="span12">
	<div class="span3"></div>
	<div class="span6">
	<div class="homepage_text">
	Asorti is an outfit recommendation engine powered by technology developed at MIT.  <br /> <br />

	We partner with retailers to recommend outfits for every style and occasion. Get instant fashion inspiration and discover new items through Asorti.  <br /> <br />
	{% if thanks %}
	<span class="thanks"><i> Thanks for signing up! We will be reaching out to you shortly. </i></span> <br /> <br />
	{% else %}
	Signup to be part of our private alpha release. <br /><br />
	{% endif %}
		
          <form method="post" class="form-inline" id="signup-form">  {% csrf_token %}
            <input name="email" type="text"  placeholder="Email address"> <br /><br />
            <button type="submit" onclick="form_submit();" class="btn">Request Invite</button>
          </form>
	</div>
	<div class="span3"></div>
        </div>
      </div>

    </div> <!-- /body-container -->

    <div id="push"></div>
</div>

      <footer>
        <p>&copy; Asorti 2013</p>
      </footer>

  </body>
</html>
