{% block script %}
<script type='text/javascript'>
    /**
    $(document).ready(function () {
        //get item or item type
        item_type = $(".item").attr("type") 
        //make request to our view
        resp = 'getrecommendationbytype/" + item_type 
        //process the json output

        //put the outfits in the given div
    }
    */
</script>
{% endblock %}
{% load recommender_extra %}
<div id="product-breadcrumbs">
    <ul class="product_breadcrumbs">
        <li>
            <a href="/data/catalog/">All</a>
         /</li>
	  <li>
            <a href="/data/catalog/">{{item.store}}</a>
         /</li>
          <li>
               <strong>
                  {{type_reverse|get:item.type}}
               </strong>
            </li>
        </ul>
</div>
<div class="row">
          <div id="product-image-box" class="span6" style="background-color:#FFF;border-radius:10px;text-align: center;vertical-align:center">
                   <img src="{{STATIC_URL}}{{item.filename}}"
			alt="" id="product-image"
                       class="FASHION_FRONT" data-type="FASHION_FRONT"/>
          </div>

          <div class="span6">
              <span class="product_title">
		{% if item.title == "" %}
                        Topshop {{type_reverse|get:item.type|title}}
                {% else %}
                {{item.title}}
		{% endif %}
              </span>

              <span class="product_price" id="text-price">
		{% if item.title == "" %}
			<span>$42.0</span>
		{% else %}
                  	<span >${{item.price}}</span>
              	{% endif %}
		</span>

              <div class="row">
                <div class="description span4">
                  <div class="product_subtitle">Description </div>  	
			<div class="product_description">
                	{% if item.title == "" %}
				One of this season's favorites. Perfect for any occasion. Machine washable.
			{% else %}
				{{item.description_web}}  
			{% endif %}
		</div>

                  <div class="product_subtitle">Details </div>
                  <p>
                      <span class="product_description" id="text-information">{{item.details_web}}</span>
                      <!-- <span class="product_description" id="text-careInstruction">FIX: Machine wash warm</span> -->
                  </p>
                  <p>
                    <!-- <span class="product_description" id="text-imported">FIX: Imported.</span> -->
                  </p>
                    <ul class="labels">
                    </ul>
                </div>

                <div class="details span2">
                  <div class="product_subtitle">Color</div>
                    <ul class="options articles clearfix" id="options-articles">
                      <li class="act" id="product_colors">
                        <span class="product_description">
				{% if item.title == "" %}	
					See product image.
				{% else %}
					{{item.color}}
				{% endif %}
			</span>
                      </li>
                    </ul>

                  <div class="product_subtitle">Size</div>
                    <ul class="options articles clearfix" id="options-articles">

                      <li class="act" id="product_sizes">
                        <span class="product_description" href=""><span>XS-XL</span>
                      </li>
                    </ul>
                </div>
<!-- END ROW -->
             </div>

              <button type="submit" class="btn product_button_buy not_impl">BUY</button>

          </div>
      </div>

        </div>


      </div>

<!-- 
<p> CATEGORY: {{item.high_level_category}} </p>

<p> Type: {{item.type}} </p>
-->

<div id="asorti-rec">

</div>
