
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">


    <title>Asorti</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Asorti">
    

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="../assets/js/html5shiv.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png">
      <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png">
                    <link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png">
                                   <link rel="shortcut icon" href="../assets/ico/favicon.png">

    <!-- Le styles -->
    <link href="../assets/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="../assets/css/bootstrap.css" rel="stylesheet">
    <link href="../assets/css/custom.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../assets/css/product.css" media="all" />


    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
    </style>
    
  </head>

  <body>

    <div id="wrap">


    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="#">Asorti</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="active"><a href="#">HOME</a></li>
              <li><a href="http://blog.asortistyle.com">BLOG</a></li>
              <li><a href="#contact">CONTACT</a></li>
            </ul>
            <form class="navbar-form pull-right">
              <input class="span2" type="text" placeholder="EMAIL">
              <input class="span2" type="password" placeholder="PASSWORD">
              <button type="submit" class="btn">LOG IN</button>
            </form>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">


      <div class="product">
        <div id="product-breadcrumbs">
        <ul class="product_breadcrumbs">
                <li>     
                        <a href="">All</a>   
                  /</li>
                <li>
                        <a href="">Ladies</a>   
                  /</li>
                <li>
                        <a href="">Tops</a>   
                  /</li>
                <li>
                            <strong>
                            Top
                            </strong>
                  </li>
            
        </ul>
        </div>

        <div class="row">  
          <div id="product-image-box" class="span6">
                  <img src="http://lp.hm.com/hmprod?set=key[source],value[/environment/2013/P90_0430_033R_0.jpg]&set=key[rotate],value[0.2]&set=key[width],value[7136]&set=key[height],value[8344]&set=key[x],value[357]&set=key[y],value[10]&set=key[type],value[FASHION_FRONT]&call=url[file:/product/large]"
                       alt="" id="product-image"
                       class="FASHION_FRONT" data-type="FASHION_FRONT"/>
          </div>

          <div class="span6">
              <span class="product_title">
                Top
              </span>

              <span class="product_price" id="text-price">
                  <span >$17.95</span>
              </span>

              <div class="row">
                <div class="description span4">
                  <div class="product_subtitle">Description </div>
                  <div class="product_description">
                          Oversized jersey top (blue model features dip-dye effect and white model features a slightly sheer patterned fabric with a printed design at front). 
                  </div>

                  <div class="product_subtitle">Details </div>
                  <p>
                      <span class="product_description" id="text-information">59% cotton, 41% polyester.</span>
                      <span class="product_description" id="text-careInstruction">Machine wash warm</span>
                  </p>
                  <p>
                    <span class="product_description" id="text-imported">Imported.</span>
                  </p>
                    <ul class="labels">
                    </ul>
                </div>

                <div class="details span2">
                  <div class="product_subtitle">Color</div>
                    <ul class="options articles clearfix" id="options-articles">
                      <li class="act" id="product_colors">
                        <a class="product_description" href=""><span>White</span></a>
                      </li>
                    </ul>
    
                  <div class="product_subtitle">Size</div>
                    <ul class="options articles clearfix" id="options-articles">

                      <li class="act" id="product_sizes">
                        <a class="product_description" href=""><span>XS-XL</span></a>
                      </li>
                    </ul>
                </div>

              <!-- END ROW -->              
             </div>

              <button type="submit" class="btn product_button_buy">BUY</button>

          </div>
      </div>
            
        </div>


      </div>

    </div> <!-- /container -->

    <div id="push"></div>
</div>

      <footer>
        <p>&copy; Asorti 2013</p>
      </footer>


    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="../assets/js/bootstrap.js"></script>
    <script src="../assets/js/bootstrap.min.js"></script>
    <script src="../assets/js/jquery.js"></script>
    <script src="../assets/js/bootstrap-transition.js"></script>
    <script src="../assets/js/bootstrap-alert.js"></script>
    <script src="../assets/js/bootstrap-modal.js"></script>
    <script src="../assets/js/bootstrap-dropdown.js"></script>
    <script src="../assets/js/bootstrap-scrollspy.js"></script>
    <script src="../assets/js/bootstrap-tab.js"></script>
    <script src="../assets/js/bootstrap-tooltip.js"></script>
    <script src="../assets/js/bootstrap-popover.js"></script>
    <script src="../assets/js/bootstrap-button.js"></script>
    <script src="../assets/js/bootstrap-collapse.js"></script>
    <script src="../assets/js/bootstrap-carousel.js"></script>
    <script src="../assets/js/bootstrap-typeahead.js"></script>

  </body>
</html>
