<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<style>
#overlay {
    position: absolute;
    top: 30%;
    left: 10%;
    width: 80%;
    height: 50%;
    background-color: #00F;
    filter:alpha(opacity=50);
    -moz-opacity:0.5;
    -khtml-opacity: 0.5;
    opacity: 0.5;
    z-index: 10000;
}
</style>
{% load ratings_extra %}
<div class="container">
<div class="row">
    <div class="span6">
        <span class="product_subtitle" onclick="showOverlay();">Similar Items:</span>
    </div>
</div>
<br />

<div class="row" id="similar_items">
<div cddlass="span1"></div>
{% for item in associated_items %}
<div class="span2">
	        {% if item.title == "" %}
                <a title="Topshop {{type_reverse|get:item.type|title}}, $42.0" href='{{item.id}}'>
        {% else %}
  		<a title="{{item.title}}, ${{item.price}}" href='{{item.id}}'>
    	{% endif %}
	<img src='{{STATIC_URL}}{{item.filename}}' style="height:150px"/>
  </a><br />
	{% if item.title == "" %}
		Topshop {{type_reverse|get:item.type|title}}, $42.0
	{% else %}
  	{{item.title}},&nbsp;${{item.price}}
	{% endif %}
</div>
{% endfor %}
</div>
</div>
