<script>
        $("#outfit").click(function() {
                mixpanel.track("similar items clicked."); 
        });
</script>


{% load ratings_extra %}
<div class="container">
<div class="row" id="outfit">
    <div class="span4" style="background-color:#FFF;border-radius:10px">
            <a title="{{item.title}}, ${{item.price}}" href='{{item.id}}'><img src='{{STATIC_URL}}{{item.filename}}' style="height:150px"/></a><br/>
    </div>
</div>
</div>

<br /><br />

<div class="not_impl">
    <img src="{{STATIC_URL}}img/like.png" style="height:20px"></img>&nbsp;30&nbsp;&nbsp;<img src="http://business.pinterest.com/assets/img/builder/builder_opt_1.png">&nbsp;&nbsp;<a>Comment</a>
</div>
<br />
