.product_breadcrumbs {
    text-align:left;
    border-bottom:1px solid #e9e9ea;
    padding:30px 0 13px 18px;
    text-decoration: none;
}


.product_breadcrumbs li
{
    display: inline;
    list-style-type: none;
}

.product_title {
    display:block;
    font-family: Gill Sans;
    font-size: 26px;
    padding: 0 0 10px 0;
}

.product_subtitle {
    font-weight: 300;
    font-size:20px;
    padding: 10px 0 10px 0;
}


.product_price {
    display:block;
    font-family: Georgia;
    font-style: italic;
    font-size: 26px;
    padding: 10px 0 10px 0;
}

.product_description {
    font-family: Georgia;
    font-size: 16px;
    line-height: 20px;
}

.product_button_buy {
    padding: 11px 19px;
    font-size: 17.5px;
    border: none;
    background-color: #1f2527;
    color: #ffffff;
    margin: 10px 0 0 0;
}


#images {
    position:relative;
    width:488px;
    height:449px;
    margin:0;
    padding:0;
}

#product-image-box {
    width:384px;
    height:449px;
    background-position:center;
    background-repeat:no-repeat;
    position:relative;
}